@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 3px solid #38bdf8;
  box-shadow: 0 0 30px rgba(56,189,248,0.7);

  object-fit: cover;
  object-position: center top; /* 🔥 important */
}

.hero h1 {
  font-size: 50px;
  margin: 10px 0;
  background: linear-gradient(90deg, #38bdf8, #6366f1);
  -webkit-background-clip: text;
  color: transparent;
}

.tagline {
  color: #94a3b8;
  font-size: 20px;
}

/* BUTTONS */
.btn, .btn-outline {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.btn {
  background: #38bdf8;
  color: black;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-outline {
  border: 1px solid #38bdf8;
  color: #38bdf8;
}

.btn-outline:hover {
  background: #38bdf8;
  color: black;
}

/* SECTION */
section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: #38bdf8;
}

/* SKILLS */
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 10px 15px;
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.1);
}

ul li:hover {
  background: #38bdf8;
  color: black;
}

/* CARDS */
.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(56,189,248,0.3);
}

/* CONTACT */
a {
  color: #38bdf8;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  background: rgba(255,255,255,0.05);
}